a.info {
  margin: 5px;
  float: left;
}
a.add {
  margin: 5px;
  float: right;
  color: red;
}

a.infoUser {
  margin: 5px;
  float: left;
}
a.addUser {
  margin: 5px;
  float:left;
  color: red;
}

a.delUser {
  margin: 5px;
  float: left;
  color: #4c89ff;
}

div.cardStyle {
  margin-top: 60px;
  margin-left: 60px;
  width: 18rem;
  height: 540px;
}

div.cardStyle img {
    width: auto;
    height: 377px;
}

div.left {
  float: left;
}

img.tableImg {
  width: auto;
  height: 100px;
}

table {
  table-layout: fixed;
}

th.width10 {
  width: 10%;
}

th.width20 {
  width: 20%;
}

th.width60 {
  width: 60%;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;

    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.statusAdd {
  background-color: green;
}

#snackbar.statusDel {
  background-color: red;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
