a.info {
  margin: 5px;
  float: left;
}
a.add {
  margin: 5px;
  float: right;
  color: red;
}

a.infoUser {
  margin: 5px;
  float: left;
}
a.addUser {
  margin: 5px;
  float:left;
  color: red;
}

div.cardStyle {
  margin-top: 60px;
  margin-left: 60px;
  width: 18rem;
  height: 540px;
}

div.cardStyle img {
    width: auto;
    height: 377px;
}

div.left {
  float: left;
}

img.tableImg {
  width: auto;
  height: 100px;
}

table {
  table-layout: fixed;
}

th.width10 {
  width: 10%;
}

th.width20 {
  width: 20%;
}

th.width60 {
  width: 60%;
}
