<div>
    <div class="card mr-5 mx-auto" style="width: 20rem">
        <form>
            <div class="card-body">
                <div class="form-group">
                    <label for="formControlInputEmail">Email address:</label>
                    <input type="email" class="form-control" id="formControlInputEmail" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="formControlInputName">Name:</label>
                    <input type="text" class="form-control" id="formControlInputName" placeholder="Name:">
                </div>
                <div class="form-group">
                    <label for="formControlInputPassword">Password:</label>
                    <input type="password" class="form-control" id="formControlInputPassword" placeholder="Password:">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mb-2" id="loginButton">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>